<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>
</head>
<body>
    <div>
        <h1>Welcome to The Jungle </h1>
        <h2>This is your account:</h2>
        <h3>
            Nama:{{name}} <br>
            Email: {{email}} <br>
            Password: {{password}} <br>
            Role: {{role}} <br>
            Provider: {{provider}} <br> 
        </h3>
        <p>Klik tombol dibawah untuk melanjutkan verifikasi data</p>
        <a href={{link}} target="_blank">
            <button style="background-color: rgb(50, 50, 238); padding: 4px; color: white">Aktivasi alamat email</button>
        </a>
    </div>
</body>
</html>